extends template

block content
    ul(id='navigation' class='side-nav right-aligned fixed')
        li
            div(class='user-view')
                div(class='background')
                    img(class='waves-effect responsive-img' src='/images/user_background.png')
                a(href='#!user' class='circle waves-effect outlined-white')
                    img(class='circle outlined' src='/images/avatar/' + session.user.uid + '.png')
                span(class='white-text shadowed') Logged in as #{session.user.username}
                br
        li
            a(href='/account' class='waves-effect').
                #[i(class='material-icons') account_circle]
                Profile Settings
            a(href='/posts/hidden/clear' class='waves-effect').
                #[i(class='material-icons') cached]
                Clear Hidden Posts
            a(href='/terminate' class='waves-effect').
                #[i(class='material-icons') delete_forever]
                Terminate Account
            a(href='/logout' class='waves-effect').
                #[i(class='material-icons') close]
                Logout
    block dashboard