extends template

block content
    div(class='vouter')
        div(class='vinner')
            div(class='container')
                div(class='row')
                    div(class='col s12 m6 offset-m3')
                        form(class='validate-form' method='POST')
                            div(class='card')
                                div(class='card-content')
                                    span(class='card-title') #{title}
                                    div(class='input-field col s12')
                                        i(class='material-icons prefix') email
                                        input(id='email' name='email' type='email')
                                        label(for='email') Email
                                    div(class='clearfix')
                                div(class='card-action')
                                    div(class='right')
                                        a(class='btn-flat waves-effect extra-margin' href='/login') Cancel
                                        button(class='btn blue darken-2 waves-effect extra-margin' type='submit') Reset Password
                                    div(class='clearfix')