div(class='navbar')
    nav
        div(class='nav-wrapper container')
            a(href='/' class='brand-logo') #{process.env.NAME}
            ul(class='right hide-on-med-and-down')
                li #[a(href='/help/user') User Help]
                li #[a(href='/help/dev') Dev Help]