html
    head
        block head_pre
        title #{title}

        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Pacifico')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css')
        link(rel='stylesheet' href='/css/style.css')
    
        block head_post
    body
        div(class='container')
            div(class='toast-container padding-top fixed')
                each error in errors
                    udc-error(error=error)
        header(class=(has_side_bar ? 'has_side_bar' : ''))
            block header
            include navigation
        main(class=(has_side_bar ? 'has_side_bar' : ''))
            block content
        footer(class=(has_side_bar ? 'has_side_bar' : ''))
            block footer
    
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js')
        script(src='/js/jquery.formatter.min.js')
        script(src='/js/custom.elements.js')

        script(type='text/javascript').
            $(document).ready(() => {
                setTimeout(() => {
                    $('select').material_select();
                    $('.tooltipped').tooltip();
                    $('.validate-form').validate({
                        errorClass: 'invalid',
                        errorPlacement: function(error, element) {
                            $(element)
                                .closest('form')
                                .find(`label[for='${element.attr('id')}']`)
                                .attr('data-error', error.text());
                        },
                        rules: {
                            email: {
                                required: true,
                                email: true,
                                maxlength: 64
                            },
                            username: {
                                required: true,
                                minlength: 3,
                                maxlength: 16
                            },
                            login: {
                                required: true,
                                minlength: 3,
                                maxlength: 64
                            },
                            password: {
                                required: true,
                                minlength: 4,
                                maxlength: 64
                            },
                            password_confirm: {
                                required: true,
                                equalTo: '#password'
                            }
                        },
                        messages: {
                            email: {
                                required: 'Enter an Email address',
                                email: 'Enter a valid Email address',
                                maxlength: 'Email is too long, must be 64 characters or less'
                            },
                            username: {
                                required: '',
                                minlength: '',
                                maxlength: ''
                            },
                            login: {
                                required: 'Enter an Email address or username',
                                minlength: 'Email/Username is too short, must be 3 or more characters',
                                maxlength: 'Email/Username is too long, must be 64 characters or less'
                            },
                            password: {
                                required: 'Enter a password',
                                minlength: 'Password is too short, must be 4 or more characters',
                                maxlength: 'Password is too long, must be 16 characters or less'
                            },
                            password_confirm: {
                                required: 'Confirm your password',
                                equalTo: 'Passwords do not match'
                            }
                        }
                    });
                    if (window.location.hash != '#!') {
                        $('html, body').animate({scrollTop: $(window.location.hash).offset().top - window.innerHeight + $(window.location.hash).outerHeight(true) + 64}, 100);
                        window.location.replace('#');
                    }
                }, 500)
            });

        block scripts