html
    head
        title #{title}
    body
        div(class='container')
            div(class='row')
                div(class='col l6 offset-l3')
                    span(id='title-text', class='brand-name') My Brand Name
            div(class='row')
                div(class='col l6 offset-l3')
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris tincidunt, est ut pellentesque tincidunt, lorem
                        erat fermentum nibh, vel pulvinar purus ante et nulla