html, body {
    background: #EEE;
    margin: 0;
    padding: 0;
}

.vouter { height: calc(100% - 84px); }

.vinner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.max-width { width: 100%; }
.extra-margin { margin: 5px; }
.extra-margin-top { margin-top: 30px; }
.extra-padding { padding: 5px; }
.margin-left { margin-left: 20px; }
.no-margin-bottom { margin-bottom: 0; }
.no-padding-hor { padding-left: 0 !important; padding-right: 0 !important; }
.no-bottom-border { border-bottom: none !important; }

#postDisplay-button {
    padding: 0 30px;
    width: 122px;
}

.outlined {
    background: rgba(220, 220, 220, 255);
    box-shadow: inset 0 0 5px rgba(32, 32, 32, 0.5);
}

.blurred { -webkit-filter: blur(6px); }
.shadowed { text-shadow: 1px 1px 1px rgba(0, 0, 0, 1) }

.preloader {
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;

    opacity: 0;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.loader::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #06439F;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

/*-+* MATERIALIZE OVERRIDES *+-*/

nav {
    background-color: #FFF;
    color: #222 !important;
    margin-bottom: 20px;
}

nav a { color: #222 !important; }
.navbar-fixed { position: fixed; }
.brand-logo { font-family: 'Pacifico', Calibri, sans-serif; }
.card-action a { color: #343434 !important; }

.input-field input:focus + label,
.materialize-textarea:focus + label { color: #1976D2 !important; }

.input-field input:focus,
.materialize-textarea:focus {
    border-bottom: 1px solid #1976D2 !important;
    box-shadow: 0 1px 0 0 #1976D2 !important;
}

.input-field .prefix.active,
.materialize-textarea .prefix.active { color: #1976D2 !important; }

.tabs .tab a, .tabs .tab a:hover, .tabs .tab a:active { color: #1976D2 !important; }
.tabs .indicator { background-color: #1976D2; }

ul.dropdown-content li a { color: #1976D2; }

a#postDisplay-button, a:hover#postDisplay-button, a:active#postDisplay-button { color: white !important; }

header.has_side_bar, main.has_side_bar, footer.has_side_bar {
    width: calc(100% - 300px) !important;
}

@media screen and (max-width: 992px) {
    header.has_side_bar, main.has_side_bar, footer.has_side_bar {
        width: 100% !important;
    }
}