html, body {
    background-color: #EEE;
    margin: 0;
    padding: 0;
}

.vouter { height: 100%; }

.vinner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.max-width { width: 100%; }
.extra-margin { margin: 5px; }
.extra-padding { padding: 5px; }

.margin-left { margin-left: 20px; }

/*-+* MATERIALIZE OVERRIDES *+-*/

nav {
    background-color: #FFF;
    color: #222 !important;
}

nav a { color: #222 !important; }
.navbar-fixed { position: fixed; }
.brand-logo { font-family: 'Pacifico', Calibri, sans-serif; }

main {
    padding-top: 72px;
}

.input-field input:focus + label { color: #1976D2 !important; }

.input-field input:focus {
    border-bottom: 1px solid #1976D2 !important;
    box-shadow: 0 1px 0 0 #1976D2 !important;
}

.input-field .prefix.active { color: #1976D2 !important; }
.card-action a { color: #343434 !important; }